@import './variables.scss';
$themes: (
	light: (
		bg: $lightbg,
		headerBg: $whitewhite,
		logoColor: $darkbg,
		themeLeftLogoIcn: $gray900,
		toggleBg: $gray100,
		toggleHead: $gray700,
		moonIcon: $darkcloseicon,
		searchBorder: $gray500,
		searchPlaceholderTextColor: $gray600,
		searchTextColor: $gray800,
		primaryBtnTextColor: $gray100,
		primaryBtnOutlineBg: transparent,
		primaryBtnOutlineText: $colorprimary,
		primaryBtnOutlineBorder: $colorprimary,
		secondaryBtnBg: $gray200,
		secondaryBtnBorder: $gray200,
		secondaryBtnText: $gray800,
		toggleViewBorder: $gray400,
		toggleViewIcon: $colorprimary,
		cardbg: $gray200,
		cardNameText: $gray900,
		cardEmailColor: $gray800,
		cardDescColor: $gray700,
		deleteModalBg: $whitewhite,
		deleteModalTitle: $gray900,
		deleteModalBorder: $gray300,
		inputBorder: $gray400,
		inputText: $gray700,
		addProfileModalBg: $whitewhite,
		toggleBtnBg: $gray100,
		toggleBtnHead: $gray700,
		toggleInputLabel: $gray800,
		toggleInputBg: $gray200,
		toggleInputBorder: $gray300,
		toggleInputTitle: $gray800,
		dropdownBg: $gray100,
		dropdownItemText: $gray800,
		tableRowBorderBottom: transparent,
		tableRowSettingIcon: $gray700,
		tablePageNavText: $gray700,
		tablePageNavDisabled: $gray700,
	),
	dark: (
		bg: $darkbg,
		headerBg: $darkheaderbg,
		logoColor: $white,
		themeLeftLogoIcn: $gray500,
		toggleBg: $gray700,
		toggleHead: $gray100,
		moonIcon: $darkMoonIcon,
		searchBorder: $gray800,
		searchPlaceholderTextColor: $gray400,
		searchTextColor: $white,
		primaryBtnTextColor: $textprimary,
		primaryBtnOutlineBg: $textinput,
		primaryBtnOutlineText: $textsecondary,
		primaryBtnOutlineBorder: $darkbuttonborder,
		secondaryBtnBg: $textinput,
		secondaryBtnBorder: $darkbuttonborder,
		secondaryBtnText: $textsecondary,
		toggleViewBorder: $textinput,
		toggleViewIcon: $gray200,
		cardbg: $colorcard,
		cardNameText: $textprimary,
		cardEmailColor: $texttertiary,
		cardDescColor: $gray300,
		deleteModalBg: $colortableborder,
		deleteModalTitle: $gray300,
		deleteModalBorder: $gray800,
		inputBorder: $textdivider,
		inputText: $textsecondary,
		addProfileModalBg: $darkbg,
		toggleBtnBg: $gray500,
		toggleBtnHead: $gray300,
		toggleInputLabel: $texttertiary,
		toggleInputBg: $gray900,
		toggleInputBorder: $gray800,
		toggleInputTitle: $gray200,
		dropdownBg: $colortableborder,
		dropdownItemText: $textsecondary,
		tableRowBorderBottom: $textdivider,
		tableRowSettingIcon: $darktableicon,
		tablePageNavText: $texttertiary,
	),
);
